/*---------------------BARRA HORIZONTAL NÃO MECHER-----------------------------*/
<style>
>  
*{
    padding: 0;
    margin: 0;
}



body{
    background: #fcfcfc;
    margin: 0;
    padding: 0;
}

.top{
  background: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  position: fixed;
  box-shadow: -5px 2px 10px #bfbdbd;
}


#menuWrapper {
width:100%; 
height:50px;
padding-left:14px;
background:#fff; 
border-radius:0px; 
position: absolute;
top: 0px;
right: 135px; 
z-index:0;
position: fixed;
}

.menu {
width: 100%;
float: left;
font-family: "Roboto" ,"Trebuchet MS", "Lucida Grande",sans-serif;
font-size:15px;
font-weight:bold;
text-align: 50px;
z-index: 0;
position: fixed;
}

.menu ul {
float:right;
height:50%;
list-style:none;
margin:0;
padding:0;
 
top: 50px;
}


.menu li {
float:left;
padding:0px;
border-right: 1px solid #eaeaea;
}

.menu ul li a{
color:#444; 
display:block;
text-transform:capitalize;
font-weight:normal;
line-height:35px;
margin:0px;
padding:7.7px 22px; 
text-align:center;
text-decoration:none;
transition:all 0.2s linear;
left: -200px;
}


.menu li a:hover  {
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}

.menu ul li:hover a{
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}


.menu ul li a:hover a{
color: #fff;
z-index: 1;
}

.menu ul li a:hover{
color: #fff;
}    


.menu li ul {
background:#fff; 
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:200px; 
z-index:100;
}

.menu li:hover ul{
display:block;

}
.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menu li:hover li a {
background:none;

transition:all 0.2s linear;
}

.menu li ul a {
display:block;
height:35px;
font-size:13px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
background:#0a114c; 
color:#fff;
text-decoration:none;
}  

.BR{
width: 19px;
height: 14px;
position: fixed;
right: 3.6%;
top: 19px;
z-index: 100;
}

.IFES{
width: 155px;
height: 63px;
position: absolute;
left: 260px;
top: -7px;
z-index: 1;
}

.EUA{
width: 19px;
height: 14px;
position: fixed;
right: 5.6%;
top: 19px;
z-index: 100;
}

/*-----------------------------FIM DA BARRA HORIZONTAL-------------------------------*/

/*INÍCIO*/

.NOT{
  width: 100%;
  
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}

.nada{
  color: #fcfcfc;
  float: left;
  width: 9%;
  height:1350px
}

.img1{
  width: 40%;
  height: 40%
}

.img2{
  width: 40%;
  height: 40%
}

.img3{
  width: 40%;
  height: 40%
}

.img4{
  width: 40%;
  height: 40%
}

.img5{
  width: 40%;
  height: 40%
}

.img6{
  width: 40%;
  height: 40%
}

p{
  font-weight: bold;
  font-family: "Helvetica";
  text-align: right;
}




