/*---------------------BARRA HORIZONTAL NÃO MECHER-----------------------------*/
<style>
>  
*{
    padding: 0;
    margin: 0;
}

@font-face{
  font-family: "Roboto";
  src:url(Roboto-Regular.ttf);
}

body{
    background: #fff;
    margin: 0;
    padding: 0;
}

.top{
  background: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  position: fixed;
  box-shadow: -5px 2px 10px #bfbdbd;
}


#menuWrapper {
width:100%; 
height:50px;
padding-left:14px;
background:#fff; 
border-radius:0px; 
position: absolute;
top: 0px;
right: 135px; 
z-index:0;
position: fixed;
}

.menu {
width: 100%;
float: left;
font-family: "Roboto" ,"Trebuchet MS", "Lucida Grande",sans-serif;
font-size:15px;
font-weight:bold;
text-align: 50px;
z-index: 0;
position: fixed;
}

.menu ul {
float:right;
height:50%;
list-style:none;
margin:0;
padding:0;
 
top: 50px;
}


.menu li {
float:left;
padding:0px;
border-right: 1px solid #eaeaea;
}

.menu ul li a{
color:#444; 
display:block;
text-transform:capitalize;
font-weight:normal;
line-height:35px;
margin:0px;
padding:7.7px 22px; 
text-align:center;
text-decoration:none;
transition:all 0.2s linear;
left: -200px;
}


.menu li a:hover  {
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}

.menu ul li:hover a{
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}


.menu ul li a:hover a{
color: #fff;
z-index: 1;
}

.menu ul li a:hover{
color: #fff;
}    


.menu li ul {
background:#fff; 
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:200px; 
z-index:100;
}

.menu li:hover ul{
display:block;

}
.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menu li:hover li a {
background:none;

transition:all 0.2s linear;
}

.menu li ul a {
display:block;
height:35px;
font-size:13px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
background:#0a114c; 
color:#fff;
text-decoration:none;
}  

.BR{
width: 19px;
height: 14px;
position: fixed;
right: 3.6%;
top: 19px;
z-index: 100;
}

.IFES{
width: 155px;
height: 63px;
position: absolute;
left: 260px;
top: -7px;
z-index: 1;
}

.EUA{
width: 19px;
height: 14px;
position: fixed;
right: 5.6%;
top: 19px;
z-index: 100;
}

/*-----------------------------FIM DA BARRA HORIZONTAL-------------------------------*/

/*INÍCIO*/


.PM{
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}


.quadradogrande1{
  background: white;
  width: 480px;
  height: 380px;
  z-index: 0;
  box-shadow: 0.1px 0.1px 10px 0px black;
  position: absolute;
  left: 146px;
  top: 100px
}


.quadradomedio1{
  width: 440px;
  height: 240px;
  position: absolute;
  top: 110px;
  z-index: 0;
  background-image: url(http://midias.folhavitoria.com.br/files/2017/02/pm.jpg);
background-size: 450px;

  left: 165px;
}

.quadradopequenito1{
  background-color: #0a0c4f;
  width: 75px;
  height: 70px;
  position: absolute;
  top: 110px;
  left: 19px;
  z-index: 100;
  left: 165px;
  color: white;
  font-size: 50px;
  font-family: "Trebuchet MS";
  text-align: center;

}



.barrao1{
  background-color: #e2e2e2;
  width: 440px;
  height: 50px;
  position: absolute;
  top: 340px;
  left: 19px;
  z-index: 100;
  left: 165px;
  font-family: Arial;
  font-weight: bold;
  color: #3f3f3f;
}

.quadradogrande1 p{
  position: absolute;
  left: 25px;
  top: 320px;
  font-family: Arial;
  font-weight: bold;
  color: #3f3f3f;
}

.quadradopequenito1 p{font-size: 60%;
}







h1{
  font-family: "Roboto"
}



.quadradogrande2{
  background: white;
  width: 480px;
  height: 380px;
  z-index: 0;
  box-shadow: 0.1px 0.1px 10px 0px black;
  position: absolute;
  left: 680px;
  top: 100px
}


.quadradomedio2{
  width: 440px;
  height: 240px;
  position: absolute;
  top: 110px;
  z-index: 0;
  background-image: url(http://midias.folhavitoria.com.br/files/2017/02/pms-domingo-2.jpg);
background-size: 450px;

  left: 700px;
}

.quadradopequenito2{
  background-color: #0a0c4f;
  width: 75px;
  height: 70px;
  position: absolute;
  top: 110px;
  left: 19px;
  z-index: 100;
  left: 700px;
  color: white;
  font-size: 50px;
  font-family: "Trebuchet MS";
  text-align: center;

}



.barrao2{
  background-color: #e2e2e2;
  width: 440px;
  height: 50px;
  position: absolute;
  top: 340px;
  left: 19px;
  z-index: 100;
  left: 700px;
  font-family: Arial;
  font-weight: bold;
  color: #3f3f3f;
}

.quadradogrande2 p{
  position: absolute;
  left: 25px;
  top: 320px;
  font-family: Arial;
  font-weight: bold;
  color: #3f3f3f;
}

.quadradopequenito2 p{font-size: 60%;
}
