/*---------------------BARRA HORIZONTAL NÃO MECHER-----------------------------*/
<style>
>  
*{
    padding: 0;
    margin: 0;
}

@font-face{
  font-family: "Roboto";
  src:url(https://github.com/EsSegurancaPublica/EsSegurancaPublica.github.io/blob/master/fonts/Roboto-Regular.ttf);
}

body{
    background: #fff;
    margin: 0;
    padding: 0;
}

.top{
  background: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  position: fixed;
  box-shadow: -5px 2px 10px #bfbdbd;
  z-index:10;
}


#menuWrapper {
width:100%; 
height:50px;
padding-left:14px;
background:#fff; 
border-radius:0px; 
position: absolute;
top: 0px;
right: 135px; 
z-index:10;
position: fixed;
}

.menu {
width: 100%;
float: left;
font-family: "Roboto" ,"Trebuchet MS", "Lucida Grande",sans-serif;
font-size:15px;
font-weight:bold;
text-align: 50px;
z-index: 10;
position: fixed;
}

.menu ul {
float:right;
height:50%;
list-style:none;
margin:0;
padding:0;
z-index:10; 
top: 50px;
}


.menu li {
float:left;
padding:0px;
border-right: 1px solid #eaeaea;
}

.menu ul li a{
color:#444; 
display:block;
text-transform:capitalize;
font-weight:normal;
line-height:35px;
margin:0px;
padding:7.7px 22px; 
text-align:center;
text-decoration:none;
transition:all 0.2s linear;
left: -200px;
z-index:10;	
}


.menu li a:hover  {
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}

.menu ul li:hover a{
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}


.menu ul li a:hover a{
color: #fff;
z-index: 1;
}

.menu ul li a:hover{
color: #fff;
}    


.menu li ul {
background:#fff; 
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:200px; 
z-index:100;
}

.menu li:hover ul{
display:block;

}
.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menu li:hover li a {
background:none;

transition:all 0.2s linear;
}

.menu li ul a {
display:block;
height:35px;
font-size:13px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
background:#0a114c; 
color:#fff;
text-decoration:none;
}  

.BR{
width: 19px;
height: 14px;
position: fixed;
right: 3.6%;
top: 19px;
z-index: 100;
}

.IFES{
width: 155px;
height: 63px;
position: absolute;
left: 260px;
top: -7px;
z-index: 1;
}


.EUA{
width: 19px;
height: 14px;
position: fixed;
right: 5.6%;
top: 19px;
z-index: 100;
}
/*-----------------------------FIM DA BARRA HORIZONTAL-------------------------------*/

/*INÍCIO*/

.conteudo h1 {
	color: black;
	text-align: center;
	font-family: "roboto";
	z-index: 1

}

.conteudo h2 {
  color: black;
  text-align: left;
  font-family: "roboto";
  z-index: 1
}

.conteudo p {
  color: black;
  text-align: left;
  font-family: "roboto";
  z-index: 1

}

.conteudo {
	text-align: left;
	width: 900px;
	position: absolute;
	left: 220px;
  z-index: 1
}

#quadro {
  width: 950px;
  height: 400px;
  background: white;
  position: absolute;
  top: 70px;
  left: 200px;
  z-index: 0;
  box-shadow: 0px 1px 6px 0.5px #bfbdbd;
  z-index: 0;
  
}

p1{
  font-size: 12px;
  font-family: "roboto"
}
