/*---------------------BARRA HORIZONTAL NÃO MECHER-----------------------------*/
<style>
>  
*{
    padding: 0;
    margin: 0;
}

@font-face{
  font-family: "Roboto";
  src:url(https://github.com/EsSegurancaPublica/EsSegurancaPublica.github.io/blob/master/fonts/Roboto-Regular.ttf);
}

body{
    background: #fff;
    margin: 0;
    padding: 0;
}

.top{
  background: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  position: fixed;
  box-shadow: -5px 2px 10px #bfbdbd;
}


#menuWrapper {
width:100%; 
height:50px;
padding-left:14px;
background:#fff; 
border-radius:0px; 
position: absolute;
top: 0px;
right: 135px; 
z-index:0;
position: fixed;
}

.menu {
width: 100%;
float: left;
font-family: "Roboto" ,"Trebuchet MS", "Lucida Grande",sans-serif;
font-size:15px;
font-weight:bold;
text-align: 50px;
z-index: 0;
position: fixed;
}

.menu ul {
float:right;
height:50%;
list-style:none;
margin:0;
padding:0;
 
top: 50px;
}


.menu li {
float:left;
padding:0px;
border-right: 1px solid #eaeaea;
}

.menu ul li a{
color:#444; 
display:block;
text-transform:capitalize;
font-weight:normal;
line-height:35px;
margin:0px;
padding:7.7px 22px; 
text-align:center;
text-decoration:none;
transition:all 0.2s linear;
left: -200px;
}


.menu li a:hover  {
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}

.menu ul li:hover a{
background: #0a114c; 
text-decoration:none;
transition:all 0.1s linear;
}


.menu ul li a:hover a{
color: #fff;
z-index: 1;
}

.menu ul li a:hover{
color: #fff;
}    


.menu li ul {
background:#fff; 
display:none;
height:auto;
padding:0px;
margin:0px;
position:absolute;
width:200px; 
z-index:100;
}

.menu li:hover ul{
display:block;

}
.menu li li {
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menu li:hover li a {
background:none;

transition:all 0.2s linear;
}

.menu li ul a {
display:block;
height:35px;
font-size:13px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
background:#0a114c; 
color:#fff;
text-decoration:none;
}  

.BR{
width: 19px;
height: 14px;
position: fixed;
right: 3.6%;
top: 19px;
z-index: 100;
}

.IFES{
width: 155px;
height: 63px;
position: absolute;
left: 260px;
top: -7px;
z-index: 1;
}

.google_translate{
width: 19px;
height: 14px;
position: fixed;
right: 5.6%;
top: 19px;
z-index: 100;
}

.EUA{
width: 19px;
height: 14px;
position: fixed;
right: 5.6%;
top: 19px;
z-index: 100;
}
#google_translate_element,.goog-te-banner-frame,.goog-te-balloon-frame,#goog-gt-tt,.goog-te-balloon-frame,.goog-tooltip,.goog-tooltip:hover {
right: -3%;
top: 19px;
z-index: 100;
position: fixed;
}
/*-----------------------------FIM DA BARRA HORIZONTAL-------------------------------*/

/*INÍCIO*/

.conteudo{
  width: 100%;
  height: auto;
  margin-top: 55px;

}

.PM{
  width: 100%;
}

.home_mais_texto {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #939393;
	font-family: "Roboto"
}
.conteudo h2 {
	color: #696969	;
	text-align: center;
	font-family: "Roboto"
}
.home_mais {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-left: 15%;
	margin-right: 10%;
	margin-bottom: 160px;
}
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
	margin-left: 30%;
}
.home_ultimas {
	margin-left: -85px;
        margin-right: 0;
}
footer .home_ultimas h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .home_ultimas p {
	color: #717070;
	background-color: #FFFFFF;
}
.img_noti1 {
	width: 100%;
	height: auto;
	max-width: 360px;
	max-height: 175px;
	width: 300px;

}

.mantem{
	background-color: #0a114c;
}

.img_noti2 {
	width: 100%;
	height: auto;
	max-width: 360px;
	max-height: 175px;
	width: 300px;

}

.img_noti1:hover, .img_noti2:hover{
       opacity: 0.3;	
}      

footer .home_ultimas p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
div.portfolio {
	width: 30%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: white;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 5%;
	padding-top: 20px;
	border-bottom: 5px solid #0a114c;
	border-top: 1px solid #0a114c;
	border-left: 1px solid #0a114c;
	border-right: 1px solid #0a114c;
}

div.portfolio h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "Roboto";
}

div.portfolio p {
	margin:0;
	text-align: left;
	padding-left: 20px;
	font-family: "Roboto";
	font-size: 15px;
}

img.portfolio_img {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}
img.portfolio_img:hover {
	opacity: 0.3;
}
