@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	background-color: #e8e8e8;
}

.bg-faded {
	background-color: #ffe100;
	padding: 0px 55px;
}

.navbar-light .navbar-brand{
	
	font-family: "Roboto" ,"Leckerli One", Arial;
	font-weight: bold 8px;
	font-size: 29px;
	margin-right: 245px
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link{
	background-color: #282b2d;
	border-radius:20px;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
	padding-left:25px;
	padding-right:25px;
	color: rgb(255, 225, 0);
	margin-right: 30px;

}

.navbar-light .navbar-nav .nav-link {
	border-radius: 20px;
	margin-right: 30px;
	padding-right: 25px;
	padding-left: 25px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	background: #292b2c;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
	color: #ffe100;

}

.nav-link.disabled{
	cursor: auto;
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded{
	background:rgba(255, 255, 255, 0) url(http://imageshack.com/a/img924/9792/Aws0yj.png) top no-repeat;
	background-position-y: -1375px;
	z-index: 2;
}

.navbar-light .navbar-nav .nav-link.disabled{
	color: rgb(160,98,0);

}

.navbar-light .navbar-nav .nav-link.disabled:hover{
	color: #ffe100;
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
	transition:all 0.4s;
	position: fixed;
	width: 100%

}

.pm {

width: 100%;

}

.img-responsive{
	width: 100%;

}

.jumbotron{
	margin-top: -3%;
	border-radius: 20px;

}

.breadcrumb{
background-color: #e4e4e4;
box-shadow: 0px 3px #c9c4c4;
margin-top: -3%;
border-radius: 15px;
}

.LG1{
	padding-bottom: : 0px;
	margin: 0px;
}


.list-group-item:last-child{
	border-bottom-right-radius: none;
	border-bottom-left-radius: none;
}

li{
font-weight: bold;
font-size: 18px;
}

.list-group-item:first-child{
	border-top-right-radius:none;
	border-top-left-radius:none;
	border-radius: 11px;
}

.list-group-item{
border: none;
padding: 0px;
box-shadow: 0px 2px #e2e0e0;
background-color: #fffffe;

}

.list-group{
	margin-bottom: 25px;
}


h4{
	margin-left: 10px;
	font-family: "Roboto" ,"Myriad Pro"
}

.jumbotron{
	background-color: #f2f2f2;
}

a{
	color: #434648
}

.theme{
	float: left;
	margin-right: 25px;
	margin-bottom: 5px;
}

h2, p, li, h4{
	font-family: "Roboto" ,"Myriad Pro";
}


.p-ponto{
	width: 70%;

}

.footer{
	background-color: #237dba;
	width: 100%;
	height: 100px;
	text-align: center;
	color: #fff;
	padding: 40px;
	font-family: "Roboto", "Myriad Pro", Arial;
}
	
	.thumbnail {
		display: block;
		padding: 4px;
		margin-bottom: 20px;
		line-height: #fff;
		border: 1px solid #ddd;
		border-radius:4px;
		-webkit-transition: border .2s ease-in-out;
		transition: border .2s ease-in-out;

	}

	.img-thumbnail, .thumbnail {
		box-shadow: 0 1px 2px rgba(0,0,0,.075);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	}

	.btn{
		margin-top: 1%;
		float: right;

	}

	.card-footer{
		background-color: #005690;
	}

	.text-muted{
		color: #fff!important;
	}

	.card-img-top{
		height: 250px;
		width: 100%;
	}

	a:hover{
		transition: all 0.4s linear;
		text-decoration: none;
	}
